<!-- <app-navbar></app-navbar> -->


<!--  
  <section class="hero">
    <video autoplay muted loop plays-inline class="bg-video">
      <source src="./assets/bg1.mp4" type="video/mp4">
    </video>

    <section class="content">
      <h1></h1>
      <a href="">Explore</a>
    </section>

  </section>

  <div class="container" >
    <section class="mx-auto my-5" style="max-width: 23rem;">

      <div class="card testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Martha Smith</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>

    </section>
    <section class="mx-auto my-5" style="max-width: 23rem;">

      <div class="card testimonial-card mt-2 mb-3">
        <div class="card-up aqua-gradient"></div>
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-fluid"
            alt="woman avatar">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title font-weight-bold">Martha Smith</h4>
          <hr>
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </div>
      </div>

    </section>
  </div> -->

<!-- <div class="todo-container">
  <h2>Courses</h2>
  <ul *ngFor="let item of courses" class="row">
    <li>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a href="#" class="btn btn-primary">{{item.level}}</a>
        </div>
      </div>
    </li>
  </ul>
</div> -->
<div class="todo-container">
<h2 class="hed">Courses</h2>
<div class="container">
  
  <ul *ngFor="let item of courses" class="row">
    <li class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description}}</p>
          <a href="#" class="btn btn-primary">{{item.level}}</a>
        </div>
      </div>
    </li>
    
  </ul>
</div>
</div>
